.cams-content.noselect
    .gradient-pagination.animated.fadeInDownBig
        .gradient-part-left
        .pagination-buttons
            .prev
                .arrow
            .page-item Страница 1
            .page-item Страница 2
            .page-item Страница 3
            .page-item Страница 4
            .next
                .arrow
        .gradient-part-right
    .cams
        img.cam( src = "i/content/cam1.png")
        img.cam( src = "i/content/cam2.png")
        img.cam( src = "i/content/cam3.png")
        img.cam( src = "i/content/cam4.png")
        img.cam( src = "i/content/cam5.png")
        img.cam( src = "i/content/cam6.png")
        img.cam( src = "i/content/cam7.png")
        img.cam( src = "i/content/cam8.png")