mixin checkinBlock()
    .checkin-block
        .title Статистика поста самообслуживания
        .title Checkin №45
        table.checkin-table
            thead
                tr
                    th
                    th 1 см
                    th 2 см
                    th 3 см
                    th Всего

            tbody
                tr
                    td Checkin успещно
                    td 14.7
                    td 23
                    td 14.7
                    td 21
                tr
                    td Checkin к врачу
                    td 17
                    td 1
                    td 17
                    td 35
                tr
                    td Checkin итого
                    td 3
                    td 34
                    td 3
                    td 21
                tr
                    td Checkout
                    td 23
                    td 11
                    td 5
                    td 25
                tr
                    td Запланировано
                    td 35
                    td 36
                    td 29
                    td 31