.gradient-pagination.animated.fadeInDownBig
    .gradient-part-left
    .pagination-buttons
        .prev
            .arrow
        .page-item(data-href = "cams-info.html").active Страница 1
        .page-item(data-href = "cams-info.html") Страница 2
        .page-item(data-href = "cams-info.html") Страница 3
        .page-item(data-href = "hospital.html") Стационар
        .page-item(data-href = "hospital.html") Реанимация
        .next
            .arrow
    .gradient-part-right