mixin waterTreatment
    .water-treatment
        .title WRO_6x_(Ступень_1) (23-07-2015)
        table.water-treatment-table
            thead
                tr
                    th(colspan = 2) Проводимость (мс\см)
                    th(colspan = 2) Поток воды (мс\св)

            tbody
                tr
                    td На входе
                    td 442
                    td Отражен.
                    td 5.1

                tr
                    td На выходе
                    td 4
                    td Чистой
                    td 0

                tr
                    td(colspan = 4) WRO_6x_(Ступень_1) - Водоподготовка