.check-diagnosis-popup.popup
    .title
        p Проверка правильности постановки текущего диагноза (Кораблин С. А., ОНГ Борисоглебск)

    .content

        table
            tbody
                tr.confirmed
                    td Подтверждённые нозологии
                tr
                    td
                        span Диагноз клинический > Осложнения основного заболевания - D63.8 Анемия при других хронический болезнях, классифицированных в других рубриках
                        .icons
                            span Т
                            i.fa.fa-info-circle

                tr
                    td
                        span Диагноз клинический > Осложнения основного заболевания - E.21.1 Вторичный гиперпаратиреоз, не классифицированный в других рубриках
                        .icons
                            span В
                            i.fa.fa-info-circle

                tr
                    td
                        span Диагноз клинический > Осложнения основного заболевания - I15.1 Гипертензия вторичная по отношению к другим поражениям почек
                        .icons
                            span Т
                            i.fa.fa-info-circle

                tr
                    td
                        span Диагноз клинический > Сопутствующие заболевания - B18.2 Хронический вирусный гепатит С
                        .icons
                            span Т
                            i.fa.fa-info-circle

                tr.excluded
                    td Подтверждённые нозологии
                tr
                    td
                        span Диагноз клинический > Осложнения основного заболевания - D63.8 Анемия при других хронический болезнях, классифицированных в других рубриках
                        .icons
                            span Т
                            i.fa.fa-info-circle

                tr
                    td
                        span Диагноз клинический > Осложнения основного заболевания - E.21.1 Вторичный гиперпаратиреоз, не классифицированный в других рубриках
                        .icons
                            span В
                            i.fa.fa-info-circle

                tr
                    td
                        span Диагноз клинический > Осложнения основного заболевания - I15.1 Гипертензия вторичная по отношению к другим поражениям почек
                        .icons
                            span Т
                            i.fa.fa-info-circle

                tr
                    td
                        span Диагноз клинический > Сопутствующие заболевания - B18.2 Хронический вирусный гепатит С
                        .icons
                            span Т
                            i.fa.fa-info-circle

                tr.skipped
                    td Подтверждённые нозологии
                tr
                    td
                        span Диагноз клинический > Осложнения основного заболевания - D63.8 Анемия при других хронический болезнях, классифицированных в других рубриках
                        .icons
                            span Т
                            i.fa.fa-info-circle

                tr
                    td
                        span Диагноз клинический > Осложнения основного заболевания - E.21.1 Вторичный гиперпаратиреоз, не классифицированный в других рубриках
                        .icons
                            span В
                            i.fa.fa-info-circle

                tr
                    td
                        span Диагноз клинический > Осложнения основного заболевания - I15.1 Гипертензия вторичная по отношению к другим поражениям почек
                        .icons
                            span Т
                            i.fa.fa-info-circle

                tr
                    td
                        span Диагноз клинический > Сопутствующие заболевания - B18.2 Хронический вирусный гепатит С
                        .icons
                            span Т
                            i.fa.fa-info-circle


    .actions
        .left
            .button Добавить
            .button Удалить
            .button Редактировать

        .right
            .button.close-popup Закрыть