.patient-reception
    include current-patient-reception
    include patient-reception-list

script.
    $(".reception-list, .reception-content-list, .reception-form-content").mCustomScrollbar({theme: "minimal"});