.treatment-program
    .row
        .block
        .block

    table.program-list
        thead
            tr
                td.centered Тип назначения
                td.centered Нозология
                td.centered Назначение
                td.centered Дозировка
                td.centered Единица
                td.centered Периодичность
                td.centered Доп. инфо

        tbody
            - for(var i = 0; i < 6; ++i)
                tr
                    td
                    td
                    td
                    td
                    td
                    td
                    td