.ckd-phase-popup.popup
    .title
        p Стадия ХБП (Антонова Н.М., Кострома 1.47.0)
    .content
        include ../common/ckd-phase-form

    .actions
        .left
            .button Пересчитать стадию

        .right
            .button Подтвердить стадию
            .button.close-popup Отмена