.diagnoses-popup.popup
    .title
        p Внесение диагноза (Антонова Н.М., Кострома 1.47.0)
    .content
        include ../common/diagnoses-form

    .actions
        .left
            .button Добавить нозологию...
            .button Добавить несколько нозологий...
            .button Удалить нозологию
            .button Сохранить диагноз

        .right
            .button.close-popup Отмена