.laboratory-analysis-popup.popup
    .title
        p Ввод результатов без назначения (Антонов Н.М., Кострома 1.47.0)


    .content
        .header Выбор комплекса исследований

        ul.tabs
            li.tab-title.active
                a Пользовательские комплексы

            li.tab-title
                a Стандартные комплексы


        input.search( placeholder = 'Поиск комплекса...' )

        ul.complex
            li Биохимический анализ крови (1 раз в 3 месяца) (Erba_xl200) (БХ3)
            li Биохимический анализ крови (1 раз в месяц) (Erba_xl200) (БХ1)
            li Биохимический анализ крови (консультативный прием)
            li Биохимический анализ крови после ГД (1 раз в месяц) (Erba_xl200) (БХП)
            li Биохимический анализ крови СТАЦИОНАР (БХС)
            li ИФА исследования (ИФА)
            li Коагулограмма (КОА)
            li КЩС на анализаторе OPTI LION (OL)
            li Общий анализ крови (1 раз в месяц) (Elite5) (ОАК)
            li Общий анализ крови (консультативный прием)
            li Общий анализ крови СТАЦИОНАР (ОАС)
            li Общий анализ мочи (ОАМ)
            li Определение группы крови и резус-фактора
            li Ортостатическая проба мочи
            li Проба по Зимницкому (ЗИМ)
            li Проба по Нечипоренко (НЕЧ)
            li Проба Реберга
            li Серологическое исследование крови (год)
            li Серологическое исследование крови (квартал)
            li Серологическое исследование крови (полгода)
            li Трехстаканная проба мочи

    .actions
        .left
            .button Назад
            .button Выбор параметров

        .right
            .button.close-popup Отмена

script.
    $("ul.complex").mCustomScrollbar({theme: "minimal"});