.upload-attachment-popup.popup
    .title
        p Добавление документа


    .content
        .row.space-between
            span Название документа*
            input.large

        .row
            .column-block.full-width
                p Список приложенных файлов

                .upload-area
                    .fa.fa-cloud-upload

                    p Нажмите или перетащите файл для загрузки документа




    .actions
        .left
        .right
            .button Сохранить
            .button.close-popup Отмена