.widget.complications-control
    .title
        | Контроль осложнений
        .legend
            .line.red
            | Hb
            .line.light-blue
            | Ferritum
            .line.blue
            | TSAT

    .content
        img(src = "i/content/complications-control.png")
        ul.tabs
            li.tab-title
                a ХБП
            li.tab-title.active
                a Анемия
            li.tab-title
                a МКН
            li.tab-title
                a Гипертензия
            li.tab-title
                a ХСН