.widget.instrumental-analysis.grow
    .title Инструментальные исследования
    .content
        table.small
            tbody
                tr
                    td.no-wrap-clip.hold-left Биоимпедансметрия
                    td 17.08.2015

                tr
                    td.no-wrap-clip.hold-left Биоимпедансметрия
                    td 17.08.2015

                tr
                    td.no-wrap-clip.hold-left Биоимпедансметрия
                    td 17.08.2015

                tr
                    td.no-wrap-clip.hold-left Электрокардиография (Сердце) от 05.08.2015
                    td 22.08.2015

                tr
                    td.no-wrap-clip.hold-left Биоимпедансметрия
                    td 22.08.2015
