.widget.laboratory-analysis.grow
    .title Лабораторные исследования
    .content
        table.small
            tbody
                tr
                    td.no-wrap-clip.hold-left Биохимический анализ крови (1 раз в месяц)
                    td.warning 1
                    td 17.08.2015

                tr
                    td.no-wrap-clip.hold-left Общий анализ крови (1 раз в месяц)
                    td.warning 7
                    td 17.08.2015

                tr
                    td.no-wrap-clip.hold-left Биохимический анализ крови (1 раз в месяц)
                    td.warning 9
                    td 17.08.2015

                tr
                    td.no-wrap-clip.hold-left Биохимический анализ крови (1 раз в месяц)
                    td.warning 4
                    td 22.08.2015

                tr
                    td.no-wrap-clip.hold-left Исследование паратгормона крови
                    td.warning 2
                    td 22.08.2015

                tr
                    td.no-wrap-clip.hold-left Биохимический анализ крови (1 раз в месяц)
                    td.warning 1
                    td 17.08.2015
                tr
                    td.no-wrap-clip.hold-left Общий анализ крови (1 раз в месяц)
                    td.warning 7
                    td 17.08.2015
                tr
                    td.no-wrap-clip.hold-left Биохимический анализ крови (1 раз в месяц)
                    td.warning 9
                    td 17.08.2015
                tr
                    td.no-wrap-clip.hold-left Биохимический анализ крови (1 раз в месяц)
                    td.warning 4
                    td 22.08.2015
                tr
                    td.no-wrap-clip.hold-left Исследование паратгормона крови
                    td.warning 2
                    td 22.08.2015
