.widget.notifications.grow
    .title Напоминания
    .content
        table.small
            tbody
                tr
                    td.no-wrap-clip.hold-left Предыдущее плановое исследование "Анализ на ВИЧ" было проведено пациенту 22.07.2015. Необходимо назначить исследование
                tr
                    td.no-wrap-clip.hold-left Предыдущее плановое исследование "Биохимический анализ крови (1 раз в 3 месяца) (Erba_xl200)" было проведено пациенту
                tr
                    td.no-wrap-clip.hold-left Предыдущее плановое исследование "Биохимический анализ крови (1 раз в месяц) (Erba_xl200)" было проведено пациенту
                tr
                    td.no-wrap-clip.hold-left Предыдущее плановое исследование "Исследование паратгормона крови" было проведено пациенту 22.07.2015. Необходимо повторить процедуру
                tr
                    td.no-wrap-clip.hold-left Предыдущее плановое исследование "Общий анализ крови (1 раз в месяц) (Elite5)" было проведено пациенту 17.08.2015.

                tr
                    td.no-wrap-clip.hold-left Предыдущее плановое исследование "Анализ на ВИЧ" было проведено пациенту 22.07.2015. Необходимо назначить исследование
                tr
                    td.no-wrap-clip.hold-left Предыдущее плановое исследование "Биохимический анализ крови (1 раз в 3 месяца) (Erba_xl200)" было проведено пациенту
                tr
                    td.no-wrap-clip.hold-left Предыдущее плановое исследование "Биохимический анализ крови (1 раз в месяц) (Erba_xl200)" было проведено пациенту
                tr
                    td.no-wrap-clip.hold-left Предыдущее плановое исследование "Исследование паратгормона крови" было проведено пациенту 22.07.2015. Необходимо повторить процедуру
                tr
                    td.no-wrap-clip.hold-left Предыдущее плановое исследование "Общий анализ крови (1 раз в месяц) (Elite5)" было проведено пациенту 17.08.2015
