.widget.statistics.grow
    .title Статистика по процедурам ГД
    .content
        table.small
            tbody
                tr
                    td.hold-left Всего процедур с начала текущего месяца
                    td 6 / 13

                tr
                    td.hold-left Проведено процедур с гипертензией
                    td -- / --

                tr
                    td.hold-left Проведедено процедур с гипотензией
                    td 6 / 100%

                tr
                    td.hold-left Сухой вес пациента
                    td 88

        table.small
            thead
                tr
                    th.hold-left Параметр
                    th Среднее
                    th Предпис

            tbody
                tr
                    td.hold-left Время процедуры
                    td 04:41
                    td 04:30

                tr
                    td.hold-left Kt/V
                    td 1.32
                    td 1.2

                tr
                    td.hold-left Объём УФ
                    td 3.6
                    td 3.85

                tr
                    td.hold-left САД/ДАД
                    td 128 / 84
                    td

                tr
                    td.hold-left ЧСС
                    td 67
                    td

                tr
                    td.hold-left Скорость кровотока
                    td 350
                    td 350

                tr
                    td.hold-left Прибавка к массе
                    td 3.56
                    td