.anamnesis
    .header

    .reception-form-content
        .row
            .title Анамнез жизни:
        .row-block
            textarea

        .row-block
            .button.pull-right
                .fa.fa-edit
                span Редактировать


        .row
            .title Анамнез заболевания:
        .row-block
            textarea

        .row-block
            .button.pull-right
                .fa.fa-edit
                span Редактировать