.anemia
    .header
        .left
            ul.tabs
                li.tab-title.active
                    a Диагностика

                li.tab-title.open-anemia-program
                    a Программа лечения

        .right
            .button Показать график


    .reception-form-content
        .step
            .title Шаг 1. Проверьте лабораторные исследования

            .row
                table.transparent.measures
                    thead
                        tr
                            th
                            th Значение
                            th Ед.изм
                            th Дата измерения
                            th Динамика

                    tbody
                        tr
                            td.hold-right
                                .label-big Гемоглобин (Hb), (HGB), (Hemoglobin)
                            td
                                input( value = '5' )
                            td
                                input( value = 'г/л' )
                            td
                                .date
                                    input( value = '29.02.2016' )
                                    .button.icon-button
                                        .fa.fa-calendar
                            td
                                img( src = 'i/content/small-graph.png' )


                        tr
                            td.hold-right
                                .label-big Эритроциты, (RBC), (Red (Blood) Cells)
                            td
                                input( value = '4' )
                            td
                                input( value = '*10^12/л' )
                            td
                                .date
                                    input( value = '29.02.2016' )
                                    .button.icon-button
                                        .fa.fa-calendar
                            td
                                img( src = 'i/content/small-graph.png' )


                        tr
                            td.hold-right
                                .label-big Сывороточное железо, (Fe), (Serum Iron)
                            td
                                input( value = '18.05' )
                            td
                                input( value = 'мкмоль/л' )
                            td
                                .date
                                    input( value = '29.02.2016' )
                                    .button.icon-button
                                        .fa.fa-calendar
                            td
                                img( src = 'i/content/small-graph.png' )

                        tr
                            td.hold-right
                                .label-big Ферритин, (Ferri), (Ferritin)
                            td
                                input( value = '1234' )
                            td
                                input( value = 'мкг/л' )
                            td
                                .date
                                    input( value = '29.02.2016' )
                                    .button.icon-button
                                        .fa.fa-calendar
                            td
                                img( src = 'i/content/small-graph.png' )


                        tr
                            td.hold-right
                                .label-big Трансферрин, (Transf), (Transferrin (TF))
                            td
                                input( value = '123' )
                            td
                                input( value = 'г/л' )
                            td
                                .date
                                    input( value = '29.02.2016' )
                                    .button.icon-button
                                        .fa.fa-calendar
                            td
                                img( src = 'i/content/small-graph.png' )


                        tr
                            td.hold-right
                                .label-big Насыщение трансферрина железом (TR%FE), (НТ)
                            td
                                input( value = '61.4' )
                            td
                                input( value = '%' )
                            td
                                .date
                                    input( value = '29.02.2016' )
                                    .button.icon-button
                                        .fa.fa-calendar
                            td
                                img( src = 'i/content/small-graph.png' )

                        tr
                            td.hold-right
                                .label-big С-реактивный белок, (CRP), (C-reactive protein)
                            td
                                input( value = '' )
                            td
                                input( value = '' )
                            td
                                .date
                                    input( value = '' )
                                    .button.icon-button
                                        .fa.fa-calendar
                            td Нет данных

                        tr
                            td.hold-right
                                .label-big Альбумин, (Alb)
                            td
                                input( value = '40.4' )
                            td
                                input( value = 'г/л' )
                            td
                                .date
                                    input( value = '29.02.2016' )
                                    .button.icon-button
                                        .fa.fa-calendar
                            td
                                img( src = 'i/content/small-graph.png' )

                        tr
                            td.hold-right
                                .label-big Средний объем эритроцита (RBC/HCT), (MCV), (Mean corpuscular volume)
                            td
                                input( value = '100' )
                            td
                                input( value = 'фл' )
                            td
                                .date
                                    input( value = '' )
                                    .button.icon-button
                                        .fa.fa-calendar
                            td Нет данных

                        tr
                            td.hold-right
                                .label-big Среднее содержание гемоглобина в эритроците (HGB/RBC), (MCH), (Mean corpuscular hemoglobin)
                            td
                                input( value = '30' )
                            td
                                input( value = 'пг' )
                            td
                                .date
                                    input( value = '29.02.2016' )
                                    .button.icon-button
                                        .fa.fa-calendar
                            td Нет данных

        .step
            .title Шаг 2. Уточните диагноз

            .row
                table.transparent.nosologies
                    thead
                        tr
                            th
                            th Вероятная нозология
                            th
                            th Нозология в диагнозе

                    tbody
                        tr
                            td.hold-right
                                .label-big
                                    | Анемия
                                    span.fa.fa-info-circle
                            td
                                select
                                    option Не выявлена
                                    option (D63.8) Анемия почечная (ренальная/нефрогенная)
                            td
                                .button.icon-button
                                    .fa.fa-angle-double-right

                            td
                                input( value = '(D63.8) Анемия почечная (ренальная/нефрогенная)' )


                        tr
                            td.hold-right
                                .label-big
                                    | Железодефицит
                                    span.fa.fa-info-circle
                            td
                                select
                                    option Не выявлена
                                    option (E61.1) Абсолютный железодефицит
                            td
                                .button.icon-button
                                    .fa.fa-angle-double-right

                            td
                                input( value = 'Не выявлена' )