.ckd-phase
    .header
        .left
            ul.tabs
                li.tab-title.active
                    a Диагностика ХБП

                li.tab-title.open-ckd-phase-journal
                    a Журнал стадий ХБП

        .right
            .button
                .fa.fa-refresh
                span Пересчитать стадию

            .button
                .fa.fa-check
                span Подтвердить стадию


    .reception-form-content
        include ../common/ckd-phase-form
