.complaints
    .header
        .left
            .button Открыть мастер занесения жалоб

        .right
            .button Добавить жалобу
            .button Удалить


    .reception-form-content
        .row
            table
                thead
                    tr
                        th
                            .checkbox.fa.fa-square-o
                        th Дата
                        th Жалоба
                        th Локализация
                        th Характер/продолжительность/время
                        th Иррадиация
                        th Качество/консистенция
                        th Цвет
                        th Факторы, вызывающие признак
                        th Факторы, снижающие проявление признака


                tbody

                    tr
                        td(colspan = 10) Нет данных по жалобам