.diagnoses
    .header
        .left
            .button Добавить нозологию...
            .button Добавить несколько нозологий...
            .button Удалить нозологию
            .button Сохранить диагноз
            .button Отменить изменения

    .reception-form-content
        include ../common/diagnoses-form