.hsn
    .header
        .left
        .right
            .button Показать график


    .reception-form-content
        .step
            .title Шаг 1. Проверьте лабораторные исследования

            .row
                table.transparent.measures
                    thead
                        tr
                            th
                            th Значение
                            th Ед.изм
                            th Дата измерения
                            th Динамика

                    tbody
                        tr
                            td.hold-right
                                .label-big Мозговой натрийуретический пептид, (BNP)
                            td
                                input( value = '' )
                            td
                                input( value = '' )
                            td
                                .date
                                    input( value = '' )
                                    .button.icon-button
                                        .fa.fa-calendar
                            td Нет данных


                        tr
                            td.hold-right
                                .label-big Натрий, (Na+), (Natrium ionized)
                            td
                                input( value = '151.6' )
                            td
                                input( value = 'ммоль/л' )
                            td
                                .date
                                    input( value = '29.02.2016' )
                                    .button.icon-button
                                        .fa.fa-calendar
                            td
                                img( src = 'i/content/small-graph.png' )


                        tr
                            td.hold-right
                                .label-big Калий, (K+), (Potassium ionized)
                            td
                                input( value = '6.24' )
                            td
                                input( value = 'ммоль/л' )
                            td
                                .date
                                    input( value = '29.02.2016' )
                                    .button.icon-button
                                        .fa.fa-calendar
                            td
                                img( src = 'i/content/small-graph.png' )

                        tr
                            td.hold-right
                                .label-big Креатинин, (Creat), (Creatinine)
                            td
                                input( value = '267' )
                            td
                                input( value = 'мкмоль/л' )
                            td
                                .date
                                    input( value = '29.02.2016' )
                                    .button.icon-button
                                        .fa.fa-calendar
                            td
                                img( src = 'i/content/small-graph.png' )


                        tr
                            td.hold-right
                                .label-big Аспартатаминотрансфераза (АсАТ), (AST), (Aspartate transaminase)
                            td
                                input( value = '9.4' )
                            td
                                input( value = 'ЕД/л' )
                            td
                                .date
                                    input( value = '29.02.2016' )
                                    .button.icon-button
                                        .fa.fa-calendar
                            td
                                img( src = 'i/content/small-graph.png' )


                        tr
                            td.hold-right
                                .label-big Аланинаминотрансфераза (АлАТ), (ALT), (Alanine aminotransferase)
                            td
                                input( value = '15.2' )
                            td
                                input( value = 'ЕД/л' )
                            td
                                .date
                                    input( value = '29.02.2016' )
                                    .button.icon-button
                                        .fa.fa-calendar
                            td
                                img( src = 'i/content/small-graph.png' )

                        tr
                            td.hold-right
                                .label-big Креатинфосфокиназа (КФК), (CK), (Creatine phosphokinase)
                            td
                                input( value = '' )
                            td
                                input( value = '' )
                            td
                                .date
                                    input( value = '' )
                                    .button.icon-button
                                        .fa.fa-calendar
                            td Нет данных

                        tr
                            td.hold-right
                                .label-big MB-фракция КФК (КК-2), (CK-MB)
                            td
                                input( value = '' )
                            td
                                input( value = '' )
                            td
                                .date
                                    input( value = '' )
                                    .button.icon-button
                                        .fa.fa-calendar
                            td Нет данных


        .step
            .title Шаг 2. Проверьте инструментальные исследования

            .row
                .label-big.vertical-centered.right

                .info
                    .type Эхокардиография
                    .description За последние 6 месяцев инструментальные исследования не проводились

            .row
                .label-big.vertical-centered.right
                    a Открыть исследование

                .info
                    .type Электрокардиография (15.02.2016)
                    .description вкг

            .row
                .label-big.vertical-centered.right
                    a Открыть исследование

                .info
                    .type Электрокардиография (26.10.2015)
                    .description Синусовая тахикардия; ЧСС- 180 в 1 мин; Эл. ось сердца отклонена влево; ГЛЖ с измененями в нижне- боковой стенке; Неполная блокада правой ножки п. Гиса.

            .row
                .label-big.vertical-centered.right
                    a Открыть исследование

                .info
                    .type Электрокардиография (22.10.2015)
                    .description Синусовая тахикардия; ЧСС- 107 в 1 мин; Эл. ось сердца отклонена влево; ГЛЖ с измененями в нижне- боковой стенке.

            .row
                .label-big.vertical-centered.right
                    a Открыть исследование

                .info
                    .type Электрокардиография (20.10.2015)
                    .description Ритм синусовый, ЧСС- 90 в 1 мин; Эл. ось сердца отклонена резко влево;Блркада передней ветви левой ножки п. Гиса; ГЛЖ с изменениями в передне- перегородочной стенке.

        .step
            .title Шаг 4. Уточните диагноз

            .row
                table.transparent.nosologies
                    thead
                        tr
                            th
                            th Вероятная нозология
                            th
                            th Нозология в диагнозе

                    tbody
                        tr
                            td.hold-right
                                .label-big
                                    | Сердечная недостаточность
                                    span.fa.fa-info-circle
                            td
                                select
                                    option Не выявлена
                            td
                                .button.icon-button
                                    .fa.fa-angle-double-right

                            td
                                input( value = 'Не выявлена' )

                        tr
                            td.hold-right
                                .label-big
                                    | Клапанная недостаточность
                                    span.fa.fa-info-circle
                            td
                                select
                                    option Не выявлена
                            td
                                .button.icon-button
                                    .fa.fa-angle-double-right

                            td
                                input( value = 'Не выявлена' )

                        tr
                            td.hold-right
                                .label-big
                                    | Фибрилляция и трепетание предсердий
                                    span.fa.fa-info-circle
                            td
                                select
                                    option Не выявлена
                            td
                                .button.icon-button
                                    .fa.fa-angle-double-right

                            td
                                input( value = 'Не выявлена' )

                        tr
                            td.hold-right
                                .label-big
                                    | Инфаркт миокарда
                                    span.fa.fa-info-circle
                            td
                                select
                                    option Не выявлена
                            td
                                .button.icon-button
                                    .fa.fa-angle-double-right

                            td
                                input( value = 'Не выявлена' )

                        tr
                            td.hold-right
                                .label-big
                                    | Перикардит
                                    span.fa.fa-info-circle
                            td
                                select
                                    option Не выявлена
                            td
                                .button.icon-button
                                    .fa.fa-angle-double-right

                            td
                                input( value = 'Не выявлена' )

                        tr
                            td.hold-right
                                .label-big
                                    | Кардиомиопатия
                                    span.fa.fa-info-circle
                            td
                                select
                                    option Не выявлена
                            td
                                .button.icon-button
                                    .fa.fa-angle-double-right

                            td
                                input( value = 'Не выявлена' )
