.hypertension
    .header
        .left
            ul.tabs
                li.tab-title.active
                    a Диагностика

                li.tab-title.open-hypertension-program
                    a Программа лечения

        .right
            .button Показать график


    .reception-form-content
        .step
            .title Шаг 1. Оцените значения артериального давления на процедурах гемодиализа

            .row
                table.transparent.measures
                    thead
                        tr
                            th
                            th Значение
                            th Ед.изм
                            th Дата измерения
                            th Динамика

                    tbody
                        tr
                            td.hold-right
                                .label-big Систолическое АД по ГД
                            td
                                input( value = '152' )
                            td
                                input( value = 'мм рт.ст.' )
                            td
                                .date
                                    input( value = '29.02.2016' )
                                    .button.icon-button
                                        .fa.fa-calendar
                            td
                                img( src = 'i/content/small-graph.png' )


                        tr
                            td.hold-right
                                .label-big Систолическое АД во время ГД
                            td
                                input( value = '152' )
                            td
                                input( value = 'мм рт.ст.' )
                            td
                                .date
                                    input( value = '29.02.2016' )
                                    .button.icon-button
                                        .fa.fa-calendar
                            td
                                img( src = 'i/content/small-graph.png' )


                        tr
                            td.hold-right
                                .label-big Систолическое АД после ГД
                            td
                                input( value = '152' )
                            td
                                input( value = 'мм рт.ст.' )
                            td
                                .date
                                    input( value = '29.02.2016' )
                                    .button.icon-button
                                        .fa.fa-calendar
                            td
                                img( src = 'i/content/small-graph.png' )


        .step
            .title Шаг 2. Проверьте лабораторные исследования

            .row
                table.transparent.measures
                    thead
                        tr
                            th
                            th Значение
                            th Ед.изм
                            th Дата измерения
                            th Динамика

                    tbody
                        tr
                            td.hold-right
                                .label-big Креатинин, (Creat), (Creatinine)
                            td
                                input( value = '267' )
                            td
                                input( value = 'мкмоль/л' )
                            td
                                .date
                                    input( value = '29.02.2016' )
                                    .button.icon-button
                                        .fa.fa-calendar
                            td
                                img( src = 'i/content/small-graph.png' )


                        tr
                            td.hold-right
                                .label-big Глюкоза, (Gluc), (Glucose)
                            td
                                input( value = '4' )
                            td
                                input( value = 'мкмоль/л' )
                            td
                                .date
                                    input( value = '29.02.2016' )
                                    .button.icon-button
                                        .fa.fa-calendar
                            td
                                img( src = 'i/content/small-graph.png' )


                        tr
                            td.hold-right
                                .label-big Калий, (K+), (Potassium ionized)
                            td
                                input( value = '6.24' )
                            td
                                input( value = 'мкмоль/л' )
                            td
                                .date
                                    input( value = '29.02.2016' )
                                    .button.icon-button
                                        .fa.fa-calendar
                            td
                                img( src = 'i/content/small-graph.png' )

                        tr
                            td.hold-right
                                .label-big Натрий, (Na+), (Natrium ionized)
                            td
                                input( value = '151.6' )
                            td
                                input( value = 'мкмоль/л' )
                            td
                                .date
                                    input( value = '29.02.2016' )
                                    .button.icon-button
                                        .fa.fa-calendar
                            td
                                img( src = 'i/content/small-graph.png' )

                        tr
                            td.hold-right
                                .label-big Холестерин общий, (Chol)
                            td
                                input( value = '3.46' )
                            td
                                input( value = 'мкмоль/л' )
                            td
                                .date
                                    input( value = '29.02.2016' )
                                    .button.icon-button
                                        .fa.fa-calendar
                            td
                                img( src = 'i/content/small-graph.png' )

                        tr
                            td.hold-right
                                .label-big Холестерол-ЛПВП (Липопротеины высокой плотности), (C-HDL), (High-density lipoprotein cholesterol (HDL-C))
                            td
                                input( value = '' )
                            td
                                input( value = '' )
                            td
                                .date
                                    input( value = '' )
                                    .button.icon-button
                                        .fa.fa-calendar
                            td Нет данных

                        tr
                            td.hold-right
                                .label-big Холестерол-ЛПНП (Липопротеины низкой плотности), (C-LDL), (Cholesterol LDL, LDLC)
                            td
                                input( value = '3.46' )
                            td
                                input( value = 'мкмоль/л' )
                            td
                                .date
                                    input( value = '29.02.2016' )
                                    .button.icon-button
                                        .fa.fa-calendar
                            td Нет данных

                        tr
                            td.hold-right
                                .label-big Триглицериды, (Trig)
                            td
                                input( value = '' )
                            td
                                input( value = '' )
                            td
                                .date
                                    input( value = '' )
                                    .button.icon-button
                                        .fa.fa-calendar
                            td Нет данных

        .step
            .title Шаг 3. Проверьте инструментальные исследования

            .row
                .label-big.vertical-centered.right
                    a Открыть исследование

                .info
                    .type Электрокардиография (22.10.2015)
                    .description Синусовая тахикардия; ЧСС- 180 в 1 мин; Эл. ось сердца отклонена влево; ГЛЖ с измененями в нижне- боковой стенке; Неполная блокада правой ножки п. Гиса.

            .row
                .label-big.vertical-centered.right
                    a Открыть исследование

                .info
                    .type Электрокардиография (20.10.2015)
                    .description Ритм синусовый, ЧСС- 90 в 1 мин; Эл. ось сердца отклонена резко влево;Блркада передней ветви левой ножки п. Гиса; ГЛЖ с изменениями в передне- перегородочной стенке.


        .step
            .title Шаг 4. Уточните диагноз

            .row
                table.transparent.nosologies
                    thead
                        tr
                            th
                            th Вероятная нозология
                            th
                            th Нозология в диагнозе

                    tbody
                        tr
                            td.hold-right
                                .label-big
                                    | Гипертензия
                                    span.fa.fa-info-circle
                            td
                                select
                                    option Не выявлена
                            td
                                .button.icon-button
                                    .fa.fa-angle-double-right

                            td
                                input( value = '(I15.1) Артериальная гипертензия' )