.inspection
    .header
        .left
            .button
                .fa.fa-edit
                span Редактировать данные

    .reception-form-content
        .no-data Нет данных физикального исследования