.instrumental-analysis
    .header
        .left
            .button Добавить
            .button Редактировать
            .button Удалить

        .right
            .checkbox-wrapper
                .checkbox
                    .fa.fa-square-o
                span Показать привязанные к приему

            .checkbox-wrapper
                .checkbox
                    .fa.fa-square-o
                span По всем эпизодам лечения

    .reception-form-content
        .row
            label
                a.laboratory-analysis-filter-toggler Фильтр исследований

        .row
            .column-block
                .row
                    table
                        thead
                            tr
                                th
                                    .checkbox
                                        .fa.fa-square-o
                                th Плановая дата забора материала
                                th Фактическая дата забора материала
                                th Дата получения результата
                                th Наименование комплекса исследований
                                th Статус исследования
                                th Назначение создал
                                th

                        tbody
                            tr
                                td
                                    .checkbox
                                        .fa.fa-square-o
                                td 06.10.2014 00:00:00
                                td 06.10.2014 00:00:00
                                td
                                td Биохимический анализ крови (1 раз в месяц) (Erba_xl200)
                                td Новое назначение
                                td Гуленко О. В.
                                td

                            tr
                                td
                                    .checkbox
                                        .fa.fa-square-o
                                td 06.10.2014 00:00:00
                                td 06.10.2014 00:00:00
                                td
                                td Биохимический анализ крови (1 раз в месяц) (Erba_xl200)
                                td Новое назначение
                                td Гуленко О. В.
                                td

                            tr
                                td
                                    .checkbox
                                        .fa.fa-square-o
                                td 06.10.2014 00:00:00
                                td 06.10.2014 00:00:00
                                td
                                td Биохимический анализ крови (1 раз в месяц) (Erba_xl200)
                                td Новое назначение
                                td Гуленко О. В.
                                td

                            tr
                                td
                                    .checkbox
                                        .fa.fa-square-o
                                td 06.10.2014 00:00:00
                                td 06.10.2014 00:00:00
                                td
                                td Биохимический анализ крови (1 раз в месяц) (Erba_xl200)
                                td Новое назначение
                                td Гуленко О. В.
                                td

                            tr
                                td
                                    .checkbox
                                        .fa.fa-square-o
                                td 06.10.2014 00:00:00
                                td 06.10.2014 00:00:00
                                td
                                td Биохимический анализ крови (1 раз в месяц) (Erba_xl200)
                                td Новое назначение
                                td Гуленко О. В.
                                td

                            tr
                                td
                                    .checkbox
                                        .fa.fa-square-o
                                td 06.10.2014 00:00:00
                                td 06.10.2014 00:00:00
                                td
                                td Биохимический анализ крови (1 раз в месяц) (Erba_xl200)
                                td Новое назначение
                                td Гуленко О. В.
                                td

            .column-block
                .row
                    label Дата:
                    span 16.12.2015
                .row
                    label Тип исследования:
                    span Биоимпедансметрия
                .row
                    label Вид исследования:
                    span
                .row
                    label Орган:
                    span
                .row
                    label Назначил:
                    span Кротова С. Е.
                .row
                    label Последняя редакция:
                    span Кротова С. Е.

                .row
                .row
                    .title Заключение

                .row
                    .description подбор сухого веса