.laboratory-analysis
    .header
        .left
            .button Создать назначение
            .button Редактировать назначение
            .button Ввести результаты без назначения
            .button Редактировать результаты
            .button Удалить исследования
            .button Печать

    .reception-form-content
        .row
            label
                a.laboratory-analysis-filter-toggler Фильтр исследований

        .row
            table
                thead
                    tr
                        th
                            .checkbox
                                .fa.fa-square-o
                        th Плановая дата забора материала
                        th Фактическая дата забора материала
                        th Дата получения результата
                        th Наименование комплекса исследований
                        th Статус исследования
                        th Назначение создал
                        th

                tbody
                    tr
                        td
                            .checkbox
                                .fa.fa-square-o
                        td 06.10.2014 00:00:00
                        td 06.10.2014 00:00:00
                        td
                        td Биохимический анализ крови (1 раз в месяц) (Erba_xl200)
                        td Новое назначение
                        td Гуленко О. В.
                        td

                    tr
                        td
                            .checkbox
                                .fa.fa-square-o
                        td 06.10.2014 00:00:00
                        td 06.10.2014 00:00:00
                        td
                        td Биохимический анализ крови (1 раз в месяц) (Erba_xl200)
                        td Новое назначение
                        td Гуленко О. В.
                        td

                    tr
                        td
                            .checkbox
                                .fa.fa-square-o
                        td 06.10.2014 00:00:00
                        td 06.10.2014 00:00:00
                        td
                        td Биохимический анализ крови (1 раз в месяц) (Erba_xl200)
                        td Новое назначение
                        td Гуленко О. В.
                        td

                    tr
                        td
                            .checkbox
                                .fa.fa-square-o
                        td 06.10.2014 00:00:00
                        td 06.10.2014 00:00:00
                        td
                        td Биохимический анализ крови (1 раз в месяц) (Erba_xl200)
                        td Новое назначение
                        td Гуленко О. В.
                        td

                    tr
                        td
                            .checkbox
                                .fa.fa-square-o
                        td 06.10.2014 00:00:00
                        td 06.10.2014 00:00:00
                        td
                        td Биохимический анализ крови (1 раз в месяц) (Erba_xl200)
                        td Новое назначение
                        td Гуленко О. В.
                        td

                    tr
                        td
                            .checkbox
                                .fa.fa-square-o
                        td 06.10.2014 00:00:00
                        td 06.10.2014 00:00:00
                        td
                        td Биохимический анализ крови (1 раз в месяц) (Erba_xl200)
                        td Новое назначение
                        td Гуленко О. В.
                        td

        .row
            .checkbox-wrapper
                .checkbox
                    .fa.fa-square-o
                span Показать привязанные к приему

            .checkbox-wrapper
                .checkbox
                    .fa.fa-square-o
                span По всем эпизодам лечения