.meds
    .header
        .left
            .button Новое назначение
            .button Редактировать назначение

        .right
            .checkbox-wrapper
                .checkbox
                    .fa.fa-square-o
                span По всем эпизодам лечения

    .reception-form-content
        .row
            ul.tabs
                li.tab-title.active
                    a В отделении

                li.tab-title
                    a Плановые назначения

        .row
            table
                thead
                    tr
                        th Наименование
                        th Продолжительность
                        th Дозировка
                        th Введено за месяц

                tbody
                    tr
                        td Анаприлин энтерально
                        td 21.12.15 - 21.12.15
                        td 21.12.2015 - 20 мг
                        td За 30 дней 20 мг

                    tr
                        td Анаприлин энтерально
                        td 21.12.15 - 21.12.15
                        td 21.12.2015 - 20 мг
                        td За 30 дней 20 мг

                    tr
                        td Анаприлин энтерально
                        td 21.12.15 - 21.12.15
                        td 21.12.2015 - 20 мг
                        td За 30 дней 20 мг

                    tr
                        td Анаприлин энтерально
                        td 21.12.15 - 21.12.15
                        td 21.12.2015 - 20 мг
                        td За 30 дней 20 мг

                    tr
                        td Анаприлин энтерально
                        td 21.12.15 - 21.12.15
                        td 21.12.2015 - 20 мг
                        td За 30 дней 20 мг

                    tr
                        td Анаприлин энтерально
                        td 21.12.15 - 21.12.15
                        td 21.12.2015 - 20 мг
                        td За 30 дней 20 мг

                    tr
                        td Анаприлин энтерально
                        td 21.12.15 - 21.12.15
                        td 21.12.2015 - 20 мг
                        td За 30 дней 20 мг