doctype html
html
    head
        meta(http-equiv="content-type", content="text/html; charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;")
        link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,100&subset=latin,cyrillic', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='styles/dark-theme.css', class='theme-css')
        link(rel='stylesheet', href='styles/animate.min.css')
        link(rel='stylesheet', href='styles/jquery.mCustomScrollbar.min.css')

        title Maximus D2

    body
        .layout
        include header

        .scroll-container.main

            .page-content
                .ajax-content
                    block content


        //include  keyboard
        script(src="js/page.js")