.sidebar.animated
    ul.sidebar-menu.patient-menu
        a(href = "home.html").current
            li
                span.icon.icon-dashboard
                span.item-title Главная

        a(href = "reports.html")
            li
                span.icon.icon-reports
                span.item-title Мои отчёты

        a(href="multimedia.html")
            li
                span.icon.icon-multimedia
                span.item-title Мультимедия

        a(href = "call-doctor.html")
            li
                span.icon.icon-call-doctor
                span.item-title Вызов врача

        a(href = "diary.html")
            li
                span.icon.icon-food_calendar
                span.item-title Дневник питания

        a(href = "quality.html")
            li
                span.icon.icon-quality
                span.item-title Качество лечения

        a(href = "drug-intake.html")
            li
                span.icon.icon-medication
                span.item-title Приём лекарств

        a(href = "complaints.html")
            li
                span.icon.icon-collection_complaints
                span.item-title Сбор жалоб пациента

    ul.sidebar-menu.nurse-menu
        a(href = "nurse-information.html")
            li
                span.item-title Информация

        a(href = "nurse-prescription.html")
            li
                span.item-title Проверка предписания

        a(href="nurse-assignment.html")
            li
                span.item-title Назначения

        a(href = "nurse-screening.html")
            li
                span.item-title Скрининг сосудистого доступа

    .sidebar-toggler
